<% include partials/header %>
<section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          GreeningFork
        </h1>
        <h2 class="subtitle">
          Be on the frontline in saving our planet
        </h2>
      </div>
    </div>
  </section>
<% include partials/footer %>